@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --beige: #D9C7A7;
    --lightOrange: #F2762E;
    --mediumOrange: #D95525;
    --darkOrange: #733119;
    --gray: #A2A6A5;
}

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: #ffffff;
}

p{
    text-align: center;
}

h3{
    font-weight: 300;
    font-size: 30px;
}

input{
    border: none;
    border-bottom: 1px solid var(--gray);
    margin: 5px 10px;
    outline: none;
}

textarea{
    border-radius: 5px;
    border: 1px solid var(--gray);;
    margin: 5px 10px;
    outline: none;
}

.formContainer{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 800px;
    box-shadow: 5px 5px 40px 5px rgba(0, 0, 0, .2);
    margin-top: 100px;
}

.button{
    font-family: 'Poppins', sans-serif;
    border: 1px solid var(--lightOrange);
    height: 40px;
    width: 150px;
    border-radius: 50px;
    margin-top: 15px;
    margin: 15px 10px 20px 80px;
}

.button:hover{
    background-color:var(--lightOrange);
    border: 1px solid white;
    cursor: pointer;
    color: white;
}

.buttonSmall{
    border: 1px solid var(--lightOrange);
    font-family: 'Poppins', sans-serif;
    height: 30px;
    width: 50px;
    border-radius: 50px;
    background-color: none;
}

.buttonSmall:hover{
    background-color:var(--lightOrange);
    cursor: pointer;
    border: 1px solid white;
    color: white;
    border: 2px solid var(--lightOrange);
}

.name{
    width: 400px;
}

.addRow{
    width: 24px;
    height: 24px;
    background-color:none;
    border-radius: 50%;
    text-align: center;
    color: black;
    border: 1px solid var(--lightOrange)
}

.addRow:hover{
    cursor: pointer;
    background-color: var(--lightOrange);
    color: white;
}

.invoiceNumContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.invoiceItem{
    margin: 15px 0 5px;
}

.names{
    width: 60%;
    height: 40px;
}

.model{
height: 40px;
}

.description{
height: 40px;
width: 300px;
}

.qty{
height: 40px;
width: 40px;
}

.price{
height: 40px;
width: 80px;
}

.notes{
    width: 100%;
}

.address{
    width: 100%;
}

.nameContainer{
    display: flex;
}

.date{
    height: 40px;
}

.buttonContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.navBar{
    width: 100%;
    height: 100px;
    background-color: var(--lightOrange);
    display: flex;
    align-items: center;
    justify-content: center;
}

.navLink{
    margin: 0 40px; 
    padding: 10px;
    border-radius: 50px;
    width: 200px;
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
}

.navLink:hover{
    cursor: pointer;
    background-color: var(--beige); 
    color: black;
}

.allTickets{
    background-color: #E2E9F1;
    max-width: 1200px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.ticketsContainer{
    width: 100px;
    height: 100px;
    background-color: bisque;
}

.newDiv{
    background-color:white;
    height: 300px;
    width: 300px;
    margin: 20px;
}

.customerName{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.newDiv:hover{
    cursor: pointer;
    background-color:#E1E1DF;
}

.preview{
    width: 70%;
    height: 90%;
    background-color:bisque;
    position: absolute; 
    top: 5%;
}

.hidden{
    visibility: hidden;
}

.bigButton{
    font-family: 'Poppins', sans-serif;
    color: black;
    border: 2px solid var(--lightOrange);
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin-top: 15px;
    margin: 15px 10px 20px 80px;
    font-size: 20px;
    background-color: white;
}

.bigButton:hover{
    cursor: pointer;
    background-color: var(--lightOrange);
    color: white;
    border: solid var(--lightOrange) 2px;
}

.searchBar{
    width: 80vw;
    height: 40px;
    outline: none;
}

.searchTitle{
    padding: none;
    margin: none;
}

/* Reference https://www.arrowhitech.com/how-to-create-html-contact-forms-and-30-best-free-modern-ones-for-you/ */